@use 'vuetify';
@use './variables';

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'Noto Sans JP', serif;
}

body {
  color: variables.$default-text-color;
}
